@import '../../partials/variables';
@import '../../partials/mixins';

.home{
   @include padding-format;
   width:100%;
   height:100vh;
   background-image: url('../../assets/homeImage.jpg');
   display:flex;
   justify-content: center;
   align-items: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   filter: grayscale(0.25);

   &__start{
      font-size:50px;
      color:$brown;
      opacity:80%;

      @include tablet{
         font-size:80px;
      }
      @include desktop{
         font-size:120px;
      }
      &:hover{
         color:$light-p;
      }
   }
}