@import '../../partials/variables';
@import '../../partials/mixins';

.home{
   @include padding-format;
   width:100%;
   height:100vh;
   background-image: url('../../assets/homeImage.jpg');
   display:flex;
   justify-content: center;
   align-items: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   filter: grayscale(0.25);

   &__start{
      font-size:40px;
      color: $light-text;
      opacity:85%;
      text-shadow: 3px 3px 9px rgba($primary-pressed,0.8);
      @include tablet{
         font-size:80px;
      }
      @include desktop{
         font-size:100px;
      }
      &:hover{
         color:$accent;
         -webkit-text-stroke: 0px white;
      }
   }
}