@import '../../partials/variables';
@import '../../partials/mixins';
.map {
   justify-content: center;
   display:flex;
   flex-direction: column;
   align-items: center;
   &__container{
      @include padding-format;
   }

   &__country{
      margin-top:1.5rem;
   }

   &__content{
      margin:2rem 0;
      max-width:300px;
      height:250px;
      @include tablet{
         max-width:600px;
         height:400px;
      }
      @include desktop{
         max-width:800px;
         height:450px;
      }
   }

   &__item-province{
      fill:$secondary-light;
      &:focus{
         outline:0px;
         fill:$secondary;
      }
      &:hover{
         fill:$other-pressed;
      }
   }

   &__information{
      @include padding-format;
      background-color: $light-text;
      width:100%;
      @include tablet{
         display:flex;
         flex-wrap:wrap;
         justify-content: center;
      }
   }

   &__label-province{
      margin:1rem 0;
      @include h2-format;
      width:100%;
   }

}
