@import '../../partials/variables';
@import '../../partials/mixins';
.map {
   align-items: center;
   &__video-container{
      width:100%;
      height:100vh;
      position: relative;
      display:flex;
      align-items: center;
      justify-content: center;
      text-align:center;
   }

   &__video{
      width:100%;
      height:100vh;
      object-fit: cover;
      // max-height:25vh;
   }
   &__title{
      position: absolute;
      color:$light-text;
      z-index:1;
      bottom:10px;
      &:hover{
         color:$accent;
      }
   }
   &__video-overlay{
      position: absolute;
      width:100%;
      height:100%;
      background-color: rgba($primary, 0.45);
   }
   &__container{
      padding:1rem 0;
      text-align: center;
      position: absolute;
   }

   &__content{
      max-width:300px;
      height:250px;
      @include tablet{
         max-width:500px;
         height:350px;
      }
      @include desktop{
         max-width:700px;
         height:450px;
      }
   }

   &__item-province{
      fill:$light-text;
      opacity:65%;
      stroke:rgba($primary, 0.50);
      &:focus{
         outline:0px;
         fill:$secondary;
      }
      &:hover{
         fill:$other-pressed;
      }
   }

   &__information{
      @include padding-format;
      width:100%;
      background-color:rgba($primary, 0.7);
      @include tablet{
         display:flex;
         flex-wrap:wrap;
         justify-content: space-evenly;
      }
      @include desktop{
         justify-content: space-evenly;
      }
   }

   &__label-province{
      padding:1rem 0;
      @include h2-format;
      color: #ffff;
      width:100%;
   }

}
.map__carousel{
   background-color: transparent;
   margin-bottom:1rem;
   @include tablet{
      max-width:500px;
   }
}