@import '../../partials/variables';
@import '../../partials//mixins';

.header{
   padding:1rem;
   position: fixed;
   z-index:2;
   right:0px;
   display:flex;
   flex-direction: column;

   &__icon-menu{
      @include icon-format;
      align-self: flex-end;
      margin: 0 0 0 auto;
      &:hover{
         cursor: pointer;
      }
   }

   &__open{
      background-color: rgba($color: $primary, $alpha: 0.40);
      width:100%;
   }
}
.nav{
   @include padding-format;
   display:flex;
   justify-content: center;
   box-sizing: border-box;
   flex-wrap: wrap;
   @include tablet{
      align-items: center;
   }

   &__wrapper{
      display:flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right:auto;
      @include tablet{
         width:25%;
      }
   }

   &__user-wrap-photo{
      @include user-photo-wrapper;
   }

   &__user-photo{
      @include user-photo-format;
   }

   &__user{
      margin-left:1rem;
      color:$light-text;
   }

   &__link-wrapper{
      width:100%;
      display:flex;
      justify-content: space-around;
      margin-top:1rem;
      @include tablet{
         width:50%;
         margin-top:0;
      }
   }

   &__homepage,
   &__location,
   &__user-list{
      @include h4-format;
      margin:0 0.5rem;
   }
   &__sign-in-greeting{
      @include h4-format;
      width:100%;
      text-align: center;
   }

   &__button-wrapper{
      align-self: flex-end;
      margin-left: auto;
      margin-top:1rem;
      text-align: right;
      @include tablet{
         width:25%;
         margin:0 0 0 auto;
         align-self: center;
      }
   }

   &__button{
      @include button-format;
   }
}
.nav__button-sign-in{
   align-self: flex-end;
   margin-left: auto;
}

.active{
   color:$accent;
   text-decoration: underline;
}