@import '../../partials/variables';
@import '../../partials//mixins';

.header{
   padding:1rem;
   position: fixed;
   z-index:2000;

   &__icon-menu{
      @include icon-format;
   }

   &__open{
      background-color: rgba($color: $primary, $alpha: 0.75);
   }

}
.nav{
   display:flex;
   flex-direction: column;
   box-sizing: border-box;

   &__wrapper{
      display:flex;
      flex-direction: column;
      align-items: center;
      max-width:200px;
      white-space: nowrap;
      overflow: hidden;
   }

   &__user-wrap-photo{
      @include user-photo-wrapper;
   }

   &__user-photo{
      @include user-photo-format;
   }

   &__user,
   &__sign-in-info{
      color:$light-text;
   }

   &__homepage,
   &__location,
   &__user-list,
   &__sign-in-greeting{
      @include h4-format;
   }

   &__button{
      @include button-format;
   }
}