@import '../../partials/variables';

.location{
   padding:2rem;
   width:100%;
   box-sizing: border-box;
   display:flex;
   justify-content: space-between;

   &__map{
      width:50%;
   }

   &__tourism{
      width:50%; 
      // background-color: $light-g;
   }
}

.svg-map{
   width:100%;
   height:40vw;
   fill:gray;
   :hover{
      fill:black;
   }
}