@import '../../partials/variables';
@import '../../partials/mixins';

.user-page{
   @include padding-format;

   @include tablet{
      display:flex;
      justify-content: space-between;
   }

   &__bucket-list,
   &__visited-list{
      justify-content: space-between;
      display:flex;
      flex-wrap: wrap;
      margin:0 auto;
      width:80%;

      @include tablet{
         width:50%;
         margin:0;
      }
   }

}